<div class="container">
    <div class="input-group form-field-margin">
        <span class="input-group-addon" id="basic-addon1">Name</span>
        <input type="text" class="form-control" placeholder="Your Name" aria-describedby="basic-addon1">
    </div>   
    <div class="input-group form-field-margin">
        <span class="input-group-addon" id="basic-addon1">Card Number</span>
        <input type="text" class="form-control" placeholder="xxxx-xxxx-xxxx-xxxx" aria-describedby="basic-addon1">
    </div>   
    <div class="input-group form-field-margin">
        <span class="input-group-addon" id="basic-addon1">CVV</span>
        <input type="text" class="form-control" placeholder="***" aria-describedby="basic-addon1">
    </div>   
    <div class="input-group form-field-margin">
        <span class="input-group-addon" id="basic-addon1">Exp Date</span>
        <input type="date" class="form-control" placeholder="mm/dd/yyyy" aria-describedby="basic-addon1">
    </div>   
    <div class="input-group form-field-margin">
        <span class="input-group-addon" id="basic-addon1">Address1</span>
        <input type="text" class="form-control" placeholder="Address-1" aria-describedby="basic-addon1">
    </div>
    <div class="input-group form-field-margin">
        <span class="input-group-addon" id="basic-addon1">Address2</span>
        <input type="text" class="form-control" placeholder="Address-2" aria-describedby="basic-addon1">
    </div>
    <div class="input-group form-field-margin">
        <span class="input-group-addon" id="basic-addon1">City</span>
        <input type="text" class="form-control" placeholder="City" aria-describedby="basic-addon1">
    </div>
    <div class="input-group form-field-margin">
        <span class="input-group-addon" id="basic-addon1">State</span>
        <input type="text" class="form-control" placeholder="State" aria-describedby="basic-addon1">
    </div>
    <div class="input-group form-field-margin">
        <span class="input-group-addon" id="basic-addon1">Zip</span>
        <input type="text" class="form-control" placeholder="Zip" aria-describedby="basic-addon1">
    </div>
    <div class="input-group form-field-margin">
        <span class="input-group-addon" id="basic-addon1">Country</span>
        <input type="text" class="form-control" placeholder="Country" aria-describedby="basic-addon1">
    </div>
</div>