<div class="col-md-12 faq-section">
    <section class="container">
        <div class="question">
            <span>What is your shipping policy?</span>
        </div>
        <div class="answer">
            <span>
                We strive to deliver your orders at your doorstep as swiftly as possible, in accordance to   our Shipping Policy.
                If you cancel your order before it has been shipped, we will refund the handling charges. However, if your order has been shipped, the handling charges will not be refunded.
                If you cancel some items in your order, we will refund the charges in proportion to the number of items in the order.
                If your order is subsequently cancelled by us, we will refund your handling charges.
                If you return an order delivered to you, handling charges will not be refunded.
            </span>
        </div>
    </section>

    <section class="container">
        <div class="question">
            <span>Are there any shipping charges?</span>
        </div>
        <div class="answer">
            <span>
                There are no shipping charges
            </span>
        </div>
    </section>

    <section class="container">
        <div class="question">
            <span>Will I get a call before delivery is attempted</span>
        </div>
        <div class="answer">
            <span>
                No you won’t receive call before delivery unless instructed.
            </span>
        </div>
    </section>

    <section class="container">
        <div class="question">
            <span>I was not home when the courier person tried to deliver the order. How can I get my order now?</span>
        </div>
        <div class="answer">
            <span>
                The field executive will make no less than three attempts to deliver at your door step. If you fail to receive you will be asked to reorder.
            </span>
        </div>
    </section>

    <section class="container">
        <div class="question">
            <span>Which courier company will deliver my order? Can I choose my preferred courier company?</span>
        </div>
        <div class="answer">
            <span>
                Courier Company are subject to the location and product availability. But it will be delivered by the most reliable company
            </span>
        </div>
    </section>

    <section class="container">
        <div class="question">
            <span>
                The delivery time committed for my order is over now. What do I do?
            </span>
        </div>
        <div class="answer">
            <span>
                If the product is not delivered in the mentioned time. Call our customer executive for the problem.
            </span>
        </div>
    </section>

    <section class="container">
        <div class="question">
            <span>How long will my order take to arrive?</span>
        </div>
        <div class="answer">
            <span>
                It usually takes 2-5 business days for the delivery from the date of order placed. But in some cases it may vary depending upon the availability of the product.
            </span>
        </div>
    </section>

    <section class="container">
        <div class="question">
            <span>Can I expect delivery on all days of the week?</span>
        </div>
        <div class="answer">
            <span>
                You can expect delivery of your order on business days. Business days are defined as all working days from Monday to Saturday, excluding national and state holidays
            </span>
        </div>
    </section>

    <section class="container">
        <div class="question">
            <span>Why did I receive a partial Order?</span>
        </div>
        <div class="answer">
            <span>
                We are sorry that you had to experience a minor glitch but please check if your order contains items with different delivery time. Items with different delivery time are shipped to you separately, so please don't worry, your item is on its way!
            </span>
        </div>
    </section>

    <section class="container">
        <div class="question">
            <span>I am going out of town. Can you expedite my delivery?</span>
        </div>
        <div class="answer">
            <span>
                Express delivery is our forte, and we always aim at sending the products as fast we could. However, the current logistics infrastructure in India, doesn't give us the liberty to expedite any delivery, at this time. Still, we are working to provide you the best of experience, in terms of deliveries.
            </span>
        </div>
    </section>
</div>
