
<div class="featured">
    <div class="container">
        <h3>Featured Products</h3>
        <div class="feature-grids">
            <div class="col-md-3 feature-grid jewel lazy" ng-repeat="product in productlist.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                <a href="/product-details">
                    <img src="{{product.img}}" alt="">
                    <div class="arrival-info">
                        <h4>{{product.name}}</h4>
                        <p>$ {{product.price}}</p>
                        <span class="pric1"><del>$ {{product.price}}</del></span>
                        <span class="disc">[12% Off]</span>
                    </div>
                </a><div class="viw">
                    <a href="/product-details">
                    </a><a href="/product-details"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Quick View</a>
                </div>
                <div class="shrt">
                    <a href="/product-details"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Shortlist</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div>
            <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></pagination>
        </div>
    </div>
</div>
