
<div class="container p-container">   
    <!-- start content -->
    <div class="col-md-12 det">
        <div class="col-md-3 single_left">
            <div class="flexslider">
                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                    <ul class="slides" style="width: 1200%; transition-duration: 0.6s;">
                        <li data-thumb="{{  product.img }}" class="clone" aria-hidden="true" style="float: left; display: block;">
                            <img ng-src="{{  product.img }}" draggable="false">
                        </li>          
                    </ul>
                </div>
            </div>
            <script>
                // Can also be used with $(document).ready()
                $(window).load(function () {
                    $('.flexslider').flexslider({
                        animation: "slide",
                        controlNav: "thumbnails"
                    });
                });
            </script>
        </div>
        <div class="col-md-6 single-right" style="float:left">
            <h3>{{ product.name }}</h3>


            <div class="cost">
                <div class="prdt-cost">
                    <ul>
                        <li>Sellling Price:</li>
                        <li class="active">{{ product.price * quantity | currency}}</li>
                        <li>Quantity: 
                            <select ng-model="quantity">
                                <option selected value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </li>
                        <li> <button href="#" ng-click="addtocart(product,quantity)">BUY NOW</button></li>

                        <li><span>Rating:</span><div class="rating"></div></li>
                    </ul>
                </div>
                <div ng-show="cartobj.products">
                    <span>Your Cart:</span>
                    <table>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Edit</th>
                        </tr>   
                        <tr ng-repeat="product in cartobj.products">
                            <td>{{product.name}}</td>
                            <td>{{product.quantity}}</td>
                            <td>{{product.total}}</td>
                            <td><a ng-click="removefromcart(product)">remove</a></td>
                        </tr>                     
                    </table>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="item-list">
                <ul>
                    <li>Material: {{ product.desc.material }}</li>
                    <li>Color: {{ product.desc.color }}</li>
                    <li>Type: {{ product.desc.type }}</li>
                    <li>Brand:{{ product.desc.brand }}</li>

                </ul>
            </div>

        </div>
        <div class="clearfix"></div>
        <!---728x90--->
        <div class="single-bottom1">
            <h6>Details</h6>
            <p class="prod-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam. Ut wisi enim ad minim veniam iriure dolor in hendrerit in vulputate velit esse molestie consequat.</p>
        </div>
        <div class="sofaset-info">
            <h4>Product Summary:</h4>
            <ul>
                <li>Classic and vibrant detailing</li>
                <li>Design: Exquisitely crafted necklace set to suit your festive mood</li>
                <li>Stones Used: Synthetic stones and beads</li>
                <li>Colour: Brown Jute, Sheron Brown</li>
                <li>Recommended Wear: Festive</li>
                <li>Note: The image has been enlarged for better viewing</li>
                <li>Contents: 4 Pc</li>
                <li>Delivery Time: 7 to 10 days from the Day of Dispatch</li>
            </ul>
        </div>       
        <div class="product-table">
            <h3>Specifications:</h3>
            <div class="item-sec">
                <h4>Features</h4>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td><p>Size</p></td>
                            <td><p>M,S,L,XL,XXL</p></td>
                        </tr>
                        <tr>
                            <td><p>Color</p></td>
                            <td><p>Gold</p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="item-sec">
                <h4>General</h4>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td><p>Base Material</p></td>
                            <td><p>{{ product.desc.material }}</p></td>
                        </tr>
                        <tr>
                            <td><p>Brand</p></td>
                            <td><p>{{ product.desc.brand }}</p></td>
                        </tr>
                      
                        <tr>
                            <td><p>Model Number</p></td>
                            <td><p>{{ product.productid }}</p></td>
                        </tr>
                        
                        <tr>
                            <td><p>Type</p></td>
                            <td><p>{{ product.desc.type }}</p></td>
                        </tr>
                        <tr>
                            <td><p>Ideal For</p></td>
                            <td><p>{{ product.desc.gender }}</p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!---728x90--->
       

    </div>
    <div class="clearfix"></div>
</div>




